[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "*"
twine = "*"
pytest = "*"
"flake8" = "*"
bandit = "*"

[packages]
aiohttp = "*"
aiompesa = {path = ".", editable = true}
"m2crypto" = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
